# Virtual Environment
proje_deep_learning/
venv/
.venv/
env/
.env/

# Data
data/
results/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Checkpoints / Models
*.pth
*.pt
*.ckpt

# IDE / System
.vscode/
.idea/
.DS_Store
*.swp
